<!-- views/pages/index.ejs -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %>
  </head>
  <body class="slds">
    <header>
      <% include ../partials/siteHeader %>
    </header>
    <main>
      <% include ../partials/pageHeader %>
      <div class="slds-p-around--large">
        <div id="app"></div>
        <div class="slds-m-bottom--large">
          <p>server messages = <%= message %></p>
        </div>
      </div>
    </main>
    <script src="./build/main.bundle.js"></script>
  </body>
</html>